body {
  font: 14px sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #F2F2F2;
  box-sizing: border-box;
  padding: 10px;
}

#app {
  flex: 1;
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid #c6c6c6;
}

.button {
  padding: 10px;
  color: white;
  background-color: darkslateblue;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.timer {
  font-size: 18px;
  font-weight: bold;
  color: limegreen;
}

.button:hover {
  background-color: deepskyblue;
}

.main-menu {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-menu__item {
  padding: 10px;
  margin: 5px;
  color: white;
  background-color: darkslateblue;
  cursor: pointer;
  width: 300px;
  text-align: center;
}

.main-menu__item:hover {
  background-color: deepskyblue;
}

.test {
  margin: 10px;
}

.test img {
  vertical-align: middle;
}

.test__header {
  position: fixed;
  background-color: #fafafa;
  border: 1px solid #c6c6c6;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1180px;
  box-sizing: border-box;
  padding: 10px;
}

.test__item-list {
  margin-top: 80px;
}

.test__item {
  padding: 10px;
}

.test-question {
  margin: 10px 0;
}

.test__answer {
  display: block;
  padding: 10px;
  border: 1px solid #eaeaea;
  margin: 10px 0;
  cursor: pointer;
}

.test__answer:not(.test__answer--correct):not(.test__answer--incorrect):hover {
  background-color: #fafafa;
}

.test__answer--correct {
  background-color: limegreen;
  /* color: white; */
}

.test__answer--incorrect {
  background-color: #ff0000;
  /* color: white; */
}

.test__result {
  color: red;
  font-size: 21px;
  font-weight: bold;
}

.info {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

